*{
    font-family:Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
    background-color: #f4f4f4;
}


.banner{
    width: 100%;
    margin-bottom: 20px;
    background-color:#00429B;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35 px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#00429B;
}

.navpages{
    background-color:#00429B;
}

.navpage{
    background-color:#00429B;
}

.logo{
    width: 100px;
    padding-top:5px;
    cursor: pointer;
    background-color:#00429B;
}

.logobg{
    background-color:#00429B;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    background-color:#00429B;
}

.navbar ul li a:hover{
    color: #8BDEFF;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.schedule {
    width: 90%;
    height: auto;
    background-color: #f4f4f4;;
    margin:auto;
    padding: 20px;
}

table {
    margin:auto;
    border-spacing: 0 20px;
    width: 100%;
}

th, td{
    padding: 20px;
}

.date{
    text-align: right;
    font-size: 35px;
}

.event {
    text-align: left;
    font-size: 20px;
}

.tools {
    width:80%;
    margin:auto;
    display: grid;
    /*grid-template-columns: 50% 50%;*/
}

.tool {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Button style inspiration: https://www.fabriziovanmarciano.com/button-styles/ */
button {
    color: #00429B !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #00429B !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
    width: 15em;
}

button:hover{
    color: white !important;
	background: #00429B;
	border-color: #00429B !important;
	transition: all 0.4s ease 0s;
}


.titleThing {
    color: #00429B;
}

.resource{
    margin-top: 30px;
}

.links{
    margin-top: 10px;
}
.date{
    position: absolute;
    text-align: center;
}